.Dropzone {
  clear: both;
  border: 2px solid transparent;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  text-align: center;
  border-radius: 7px;
  transition: all .3s ease-in-out;
  user-select: none;
  padding: 0;
  position: relative;
}

.Dropzone.hover {
  background-color: rgba(161,196,253, .3) !important;
  border-color: #a1c4fd !important;
 }