.Gallery-item {
  position: relative;
  display: flex;

  .title-container {
    position: absolute;
    bottom: 0;
    height: 50px;
    background: black;
    opacity: 0.6;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 5px;

    .title {
      text-align: center;
      color: #fff;
    }
  }
}

.Gallery-image {
  object-fit: cover;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 2px 1px rgba(0,0,0,0.12),
              2px 4px 2px rgba(0,0,0,0.12),
              4px 8px 4px rgba(0,0,0,0.12),
              5px 16px 8px rgba(0,0,0,0.12),
              8px 32px 16px rgba(0,0,0,0.12);
  background: lightgrey;

  &:hover {
    -webkit-filter: sepia(90%);
  }
}

.Gallery-item__remove {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
  color: red;
  transition: 0.3s all ease-in-out;
}

.Gallery-item:hover .Gallery-item__remove {
  opacity: 1;
  z-index: 2;
  cursor: pointer;
}

.Gallery-item__remove:hover {
  transform: scale(1.1);
  color: #c50000;
}

img {
  display: block;
  max-width: 100%;
}

@supports (display: grid) {
  .Gallery-item {
    margin: 0;
  }
}
